a {
  color: #93355c;
}

nav a {
  font-family: 'Open Sans Condensed';

  color: #000000;
  font-size: 18px;
  text-decoration: none;
}
nav a:hover{
  color: #f599c0;
}

.current {
  background-color: #f599c0;
  font-family: 'Open Sans';
  font-weight: bold;
  border-style: solid;
  border-color: #000000;
  padding: 2px;
  color: #000000;
  text-transform: uppercase;
}

body{
  background: #ffffff;
  color: #3c006f;
  size: 200%;
  padding: 1%
}

a.skip{
  position: relative;
  left: -2000px;
}

a.focus{
  border: 1px solid black;
}

a.skip:focus{
  left: 10px;
  border: 2px solid black;
}

h1 {
  font-family: 'Open Sans Condensed';
  color: #ffffff;
  font-size: 24px;
  background-color: #000000;
  padding: 2%;
}

h2 {
  font-family: 'Open Sans Condensed';
  color: #A53860;
  padding-top: 4%;
  font-size: 24px;
}

h3 {
  font-family: 'Open Sans Condensed';
  color: #A53860;
  padding-top: 2%;
}

p {
  color: #450920;
  font-family: 'Open Sans';
  padding-top: 2%;
}

main {
  padding-top: 3%;
}
